html, body {
    height: 95vh;
    width: 100vw;
}

#container {
    color: lightskyblue;
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(110.6deg, rgb(156, 116, 129) -18.3%, rgb(67, 54, 74) 16.4%, rgb(47, 48, 67) 68.2%, rgb(27, 23, 36) 99.1%);
    padding: 2rem;
    justify-content: space-evenly;
}

#photocontainer {
    height: 35%;
    width: 80%;
    display: flex;
    align-items: center;
    overflow: auto;
    justify-content: center;
}

#questions {
    color: lightgoldenrodyellow;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    bottom: 0.1rem;
}

button {
    font-size: 1rem;
    background-color: lightblue;
    border: 0;
    padding: 0.5rem 1rem;
    border-radius: 0.3rem;
}

button:hover {
    background-color: lightslategrey;
}

span {
    color: black;
    margin: 1rem;
    background-color: darkorange;
    padding: 0.5rem;
    border-radius: 0.2rem;
    font-size: 1rem;
}

.red {
    background-color: red;
}

.green {
    background-color: green;
}

img {
    height: 15rem;
}


.cardContainer {
    display: flex;
    width: 100%;
    position: relative;
    transition: transform 1s;
    transform-style: preserve-3d;
  }
  
  .card {
    display: flex;
    flex-shrink: 1;
    align-items: center;
    justify-content: center;
    position: absolute;
    height: 100%;
    width: 100%;
    backface-visibility: hidden;
    text-align: center;
  }
  
  .back {
    transform: rotateY( 180deg );
  }
  
  .makeFront {
    color: white;
    background-color: rgb(218, 168, 168);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    font-family: "Comfortaa", sans-serif;
    border-radius: 1rem;
    box-shadow: rgba(226, 179, 179, 0.56) 0px 22px 70px 4px;
  }
  
  .makeBack {
    color: rgb(234, 234, 175);
    background-color: rgb(170, 170, 219);
    font-weight: bold;
    font-family: "Comfortaa", sans-serif;
    font-size: 1.5rem;
    border-radius: 1rem;
    box-shadow: rgba(215, 213, 227, 0.766) 0px 22px 70px 4px;
  }
  
  .cardContainer.is-flipped {
    transform: rotateY(180deg);
  }
  
